body {
    font-family: Arial, Helvetica, sans-serif;
}

.Inner {
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
}

.smalltag {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 166.667% */
}